{% extends "header.html" %}

{% block content %}
    <div class="row justify-content-md-center my-4">
        {% for friend in object_list %}
            <div class="card col-md m-3" style="width: 30rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="/friend/{{friend.id}}">
                        <h5 class="card-title">{{ friend.name }}</h5>
                        <p class="card-text">{{friend.title}}</p>
                    </a>
                </div>
                <div class="card-body">
                    <p>Birthday : {{ friend.birthday|date:"d.m.Y" }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}